Repository Grajal/SW2-YugiCollectionManager, pull requests merged in 2025-05, with the labels that each got.

#14 Feature/backend db schema #10
  README.md
  backend/.gitignore
  backend/cmd/yugi/main.go
  backend/docker-compose.yml
  backend/go.mod
  backend/go.sum
  backend/internal/database/connection.go
  backend/internal/models/card.go
  backend/internal/models/collection.go
  backend/internal/models/deck.go
  backend/internal/models/monster_card.go
  backend/internal/models/spell_trap_card.go
  backend/internal/models/user.go
Labels: feature

#18 Feature/backend user endpoints #15
  backend/.dockerignore
  backend/Dockerfile
  backend/cmd/yugi/main.go
  backend/database/connection.go
  backend/go.mod
  backend/go.sum
  backend/handlers/auth_handler.go
  backend/handlers/auth_handler_test.go
  backend/handlers/cards.go
  backend/handlers/user_handler.go
  backend/internal/handlers/health.go
  backend/internal/models/user.go
  backend/main.go
  backend/middleware/clerk_auth.go
  backend/models/card.go
  backend/models/collection.go
  backend/models/deck.go
  backend/models/monster_card.go
  backend/models/spell_trap_card.go
  backend/models/user.go
  backend/routes/router.go
  backend/services/auth_service.go
  backend/services/auth_service_test.go
  backend/services/user_service.go
  backend/utils/test_utils.go
Labels: backend

#20 Refactor/auth from clerk
  backend/go.mod
  backend/go.sum
  backend/handlers/auth_handler.go
  backend/handlers/auth_handler_test.go
  backend/handlers/user_handler.go
  backend/middleware/auth.go
  backend/middleware/clerk_auth.go
  backend/models/user.go
  backend/routes/router.go
  backend/services/auth_service.go
  backend/services/auth_service_test.go
  backend/services/user_service.go
  backend/utils/jwt.go
Labels: backend

#25 Feature/backend collections #23
  .gitignore
  README.md
  backend/database/connection.go
  backend/docker-compose.yml
  backend/handlers/collection_handler.go
  backend/main.go
  backend/models/collection.go
  backend/models/user.go
  backend/models/user_card.go
  backend/routes/router.go
  backend/services/collection_service.go
  backend/utils/context.go
  docker-compose.yml
Labels: backend

#37 Feature/cards s3 integration #27
  README.md
  backend/client/ygo_api.go
  backend/go.mod
  backend/go.sum
  backend/handlers/cards.go
  backend/handlers/cards_handler.go
  backend/main.go
  backend/models/card.go
  backend/models/link_monster_card.go
  backend/models/monster_card.go
  backend/models/pendulum_monster_card.go
  backend/routes/router.go
  backend/services/card_service.go
  backend/utils/s3.go
Labels: backend

#40 Feature/backend decks #23
  backend/docker-compose.yml
  backend/handlers/auth_handler.go
  backend/handlers/card_handler.go
  backend/handlers/deck_handler.go
  backend/main.go
  backend/models/deck.go
  backend/models/deck_card.go
  backend/routes/router.go
  backend/services/deck_card_service.go
  backend/services/deck_service.go
  backend/services/deck_service_test.go
Labels: feature

#43 Feature/cards bootstrap #41
  backend/.gitignore
  backend/client/ygo_api.go
  backend/handlers/card_handler.go
  backend/routes/router.go
  backend/services/card_service.go
Labels: backend

#44 fix: update database env var names to match Railway configuration
  .github/workflows/ci.yml
  backend/database/connection.go
  backend/tests/testutils/db_test_helper.go
Labels: devops

#56 Feature/backend decks export #28
  backend/handlers/deck_handler.go
  backend/models/deck_card.go
  backend/routes/router.go
  backend/services/deck_card_service.go
  backend/services/deck_service.go
Labels: feature

#63 Feature/backend import #28
  backend/handlers/deck_handler.go
  backend/models/deck.go
  backend/models/deck_card.go
  backend/models/link_monster_card.go
  backend/models/monster_card.go
  backend/models/pendulum_monster_card.go
  backend/models/spell_trap_card.go
  backend/models/user.go
  backend/routes/router.go
  backend/services/deck_card_service.go
  backend/services/deck_service.go
  backend/utils/ydk_parser.go
Labels: backend

#64 Feature: Implement User Card Collection
  frontend/src/App.tsx
  frontend/src/components/landing/header.tsx
  frontend/src/components/search/sidebar.tsx
  frontend/src/contexts/UserContext.tsx
  frontend/src/pages/CatalogPage.tsx
  frontend/src/pages/MyCollectionPage.tsx
  frontend/src/types/collection.ts
Labels: frontend

#72 Refactor/cards module
  backend/client/ygo_api.go
  backend/database/connection.go
  backend/handlers/card_handler.go
  backend/handlers/deck_handler.go
  backend/main.go
  backend/repository/card_repository.go
  backend/routes/card_routes.go
  backend/routes/router.go
  backend/services/card_factory.go
  backend/services/card_service.go
  backend/services/deck_card_service.go
  backend/services/deck_service.go
Labels: refactor
